@font-face {
  font-family: "iconfont"; /* Project id 5072000 */
  src: url('iconfont.woff2?t=1764092426527') format('woff2'),
       url('iconfont.woff?t=1764092426527') format('woff'),
       url('iconfont.ttf?t=1764092426527') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-top:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\e602";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-gouwuche:before {
  content: "\e635";
}

.icon-dingwei:before {
  content: "\e62f";
}

.icon-statistics:before {
  content: "\e6f6";
}

.icon-shouye:before {
  content: "\e61c";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-chaxun:before {
  content: "\e60a";
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-dingwei1:before {
  content: "\e629";
}

.icon-good:before {
  content: "\e62a";
}

.icon-dianzan1:before {
  content: "\e8ad";
}

.icon-fangdajing1:before {
  content: "\e662";
}

.icon-fenlei:before {
  content: "\e811";
}

.icon-book:before {
  content: "\e895";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-caogaoxiang:before {
  content: "\e726";
}

.icon-shoucang:before {
  content: "\e78f";
}

.icon-icon-arrow-left2:before {
  content: "\e664";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

.icon-wenzhang:before {
  content: "\e624";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-comment:before {
  content: "\e607";
}

.icon-fangdajing:before {
  content: "\e60c";
}

